@import 'src/styles/vars';

.loginuser {
    padding:  0.6em;
    background-color: $color;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    &-btnopen{
        border: none;
        outline: none;
        background: none;
        color: $font-color;
        cursor: pointer;
        padding: 0.4rem;
        display: flex;
    }
}
