@import 'src/styles/vars';


//! Code couleur?
.testcouleur {
   color:hsl(178, 100%, 37%, 1);
   color:hsl(36, 100%, 49%, 1);
   color:hsl(3, 94%, 53%, 1);
   color:hsl(353, 92%, 29%, 1);
   color: blanchedalmond;
}

.bandeau-présentation {
    background-color: hsl(178, 100%, 37%, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: $gutter;

}
// .bandeau-présentation:before {
//     content:url("../public/fond-écran.png");
//     opacity: 0.75;
//     max-width:50%;
//     height: max-content;
//     z-index:-1;
//     top: 0;
// }



.fonctionnement {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    &-title {
        margin-top: 0;
        font-size: 3rem;
        color: hsl(353, 92%, 29%, 1);
        order: -1;
        flex: 1 0 100%;
     }

    &-content {
        max-width: 200px;
        color: hsl(353, 92%, 29%, 1);
        font-weight:700;
        font-size: 1.2rem;
        align-items: baseline;
    }
}

// .img {
//     --clay-background: #ffffffe1;
//     --clay-border-radius: 10px;
//     --clay-shadow-inset-primary: -8px -8px 16px 0 rgba(0, 0, 0, 0.15);
//     max-width: 100px;
//     max-height: 100px;
//     background-image: url("../public/icones/bloguer.png");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
// }

.bandeau-présentation-texte {
    font-size: 2rem;
    text-align: center;
    max-width: 800px;
    color: blanchedalmond;
    text-shadow: rgba(0, 0, 0, 0.3) 5px 3px 5px;
}

.categoriesDisplay {
    background-color: hsl(36, 100%, 49%, 1);
    color: hsl(353, 92%, 29%, 1);
    font-weight:700;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;

    padding: 30px;
}

.categorie {
    /* Modify clay.css properties */
    --clay-background: blanchedalmond;
    --clay-border-radius: 10px;
    --clay-shadow-inset-primary: -8px -8px 16px 0 rgba(0, 0, 0, 0.15);

    /* Extended styles */

    padding: 10px;
    max-width: 100px;
    max-height: 100px;


    &-img1 {
        width: 100px;
        height: 100px;
        background-image: url("../public/icones/echecs.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .5s;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));

        &:hover {
        transform: scale(3);
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
        }
    }

    &-img2 {
        width: 100px;
        height: 100px;
        background-image: url("../public/icones/fusee.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .5s;
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));

        &:hover {
        transform: scale(3);
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));
        }
    }

    &-img3 {
        width: 100px;
        height: 100px;
        background-image: url("../public/icones/idee.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .5s;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));

        &:hover {
        transform: scale(3);
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
        }
    }

    &-img4 {
        width: 100px;
        height: 100px;
        background-image: url("../public/icones/puzzle.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .5s;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));

        &:hover {
        transform: scale(3);
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
        }
    }

    &-img5 {
        width: 100px;
        height: 100px;
        background-image: url("../public/icones/jeu.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .5s;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));

        &:hover {
        transform: scale(3);
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
        }
    }
}


