@import 'src/styles/vars';

.header {
    position: sticky;
    z-index: 1;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: $gutter;
    padding-right: $gutter;
    background-color: rgba(255, 251, 236, 0.8);
    filter: $drop-shadow;

    &-logo-img {
        // position: fixed;
        max-width: 60px;
        // top: 10px;
    }

    &-nav {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        flex: 1;

        &-link {

            font-size: 1.1rem;
            padding: 10px;
            color: #000000;
            text-decoration: none;
            &--active {
                transition: 50ms;
             border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
            }

            &:hover {
                transition: 0.3s;
                border: none;
                background-color: rgb(207, 207, 207);
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

        }
    }

    &-logo-image{
        width: 300px;
    }
}

