@import 'src/styles/vars';

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    // overflow: hidden;
    width: calc(100vw - 52px);
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: $gutter;
    background-color: rgba(255, 235, 205, 0.8);
    filter: $drop-shadow;

    &-logo-img {
        max-width: 60px;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        flex: 0.7;

        &-link {
            font-size: 1.1rem;
            padding: 10px;
            color: #000000;
            text-decoration: none;
            &--active {
                transition: 50ms;
             border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
            }

            &:hover {
                transition: 0.3s;
                border: none;
                // padding: 10px;
                background-color:rgba($color: #000000, $alpha: 0.2);
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

        }
    }

    &-logo-image{
        width: 300px;
    }
}

