@import 'src/styles/vars';

.header {
    height: 80px;
    text-decoration: none;
    padding-left: $gutter;
    padding-right: $gutter;
    background-color: rgba(255, 251, 236, 0.8);
    filter: $drop-shadow;
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo-img {
        max-width: 100px;
    }
    &-content{
        position:relative;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 1900px;
    }
    &-items {
        display: flex;
        flex-direction: row;
    }
    &-link {
        text-decoration: none;
        font-size: 1rem;

    }
    &-link--isActive > Button{
        color : #fa9600 !important;

    }
    &-link--isActive > Button > svg {
        fill: #fa9600;
    }
}

nav
{
    margin: 0 auto;
    width: 60%;
}

nav .main_pages
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

nav .main_pages, .header-link>button
{
        font-size: 1.1rem;
        color: #000000;
        text-decoration: none;
        text-transform: capitalize;
        &--active {
            transition: 50ms;
         border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
        }
}

.header-link>button {
    display: flex;
    align-items: baseline;
}

.header-link>button>svg {
   height: 2rem;
}

.header-link>button:hover {
            transition: 0.3s;
            border: none;
            background-color: rgb(207, 207, 207);
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

    label , #toggleheader
{
    display: none;
}

@media all and (max-width: 1080px)
{
    .header{
        height: 120px;
        justify-content: space-between;
    }
    nav
    {
        margin:0;
        height: 60px;
        z-index:1;
        width: 30%;
    }

    nav .main_pages
    {
        display: none;
        align-items: flex-end;
        flex-direction: column;
        background: $font-color-2;
        border-radius: 10px;
        padding: 0 10px 0 10px;
        float:right;
    }

    nav .main_pages a {
        width: 30%;
    }

    label
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: $font-color;
        cursor: pointer;
        order:-1;
    }

    #toggleheader:checked + .main_pages {
        display: flex;
    }
}


