@import 'src/styles/vars';

.shopmodal{
    background-color: aquamarine;
    position: absolute;
    margin-top:10%;
    margin-left:10%;
    width:50rem;
    border: solid 2px black;
    padding:2rem;
    overflow: auto;
}
