@import 'src/styles/vars';

.categoriesDisplay {
    background-color: rgb(255, 232, 155);
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $gutter;
}

.categorie {
    padding: 2rem;
}
