.nextPage{
    width: fit-content;
    display: flex;
    justify-content: center;

    &-pagination{
        justify-content: center;
        margin: 15px auto;
    }
}

.nextPage>nav {
    width: fit-content;
}

.css-wjh20t-MuiPagination-ul {
    margin: 0 auto;
    justify-content: center !important;
}
