@import 'src/styles/vars';

.oneref{
    background-color: aqua;
    position: absolute;
    margin-top:22%;
    margin-left:45%;
    max-width: 80%;
    border: 2px solid black;
    padding:2rem;
}
.cardmedia{
    background-color: aquamarine;
}
