@import 'src/styles/vars';

.ref{
    background-color: aqua;
    position: absolute;
    margin-top:22%;
    margin-left:45%;
    max-width: 80%;
    border: 2px solid black;
    padding:2rem;
}
.cardmedia{
    background-color: aquamarine;
}

.card {
    display: flex;
    flex-direction: column;

    &-name {
        margin: 25px auto;
    }
    &-description {
        margin: 0 15px !important;
    }
    &-footer {
        margin-top: auto;
        margin-bottom: 15px;
    }
}

.MuiCardContent-root{
    position: relative;
    height: 100%;
}

.card-content {
    height: 100%;
}
