@import 'src/styles/vars';

.login-admin{
    background-color:rgb(213, 238, 238);
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: $gutter;

    .title{
        background-color: $color;
        background-color:rgb(191, 219, 219);
        margin-top:1.5rem;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
    .admin-form {
        background-color:rgb(191, 219, 219);
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 30em;
        border-radius: 20%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    .input-admin{
        margin:1rem;
        background-color: rgb(205, 228, 228);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .submit-admin{
        margin-top:1rem;
        margin-left: 1.1rem;
        margin-right: 1.1rem;
        margin-bottom: 2rem;
        border-radius:4%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
