@import 'src/styles/vars';

.modal {

    &-articles {
        display: flex;
        flex-direction: row;

        &--book {
            width: 100%;
        }
        &--available {
            width: 100%;
        }
    }

    &-status {
        width: 80%;
        text-align: right;

        &--item {
            margin-left: $gutter;
        }
    }
}
