@import 'src/styles/vars';

.listofreferences{
    background-color: #cfe8fc ;
    height: 100vh;
    border:black solid 2rem;
}

.gridList{
    height: 100%;
    margin: 0 25px;
    gap: 25px;
    align-items: flex-start;
    align-content: space-around;
}
