@import 'src/styles/vars';

.home-user {
    height: 100%;
   background-color:rgb(213, 238, 238);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   &-welcome-span{
       text-transform: capitalize;
   }

}
.loginuser-form {

    padding: 30px;
    border-radius: 10px;
    width: 25rem;
    margin: auto;
    background-color: rgba(255, 251, 236, 1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.loginuser-textfield {
    background-color: white;
    margin-bottom: 15px;
}

.MuiTextField-root {
    margin-bottom: 15px;
}
