@import 'src/styles/vars';

.menuadmin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    padding: $gutter;

    &-link {
        color: black;
        text-decoration: none;
        transition: background-color ease-in-out 0.3s;

        &--active {
            border-right: 3px solid blue;
            background-color: rgba($color: blue, $alpha: 0.3);
        }

        &:hover{
            border-right: 3px solid blue;
            background-color: rgba($color: rgb(187, 187, 187), $alpha: 0.3);
        }
    }

    &-logout {
        background-color: blue;
        color: white;
        outline: none;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: $font-size;
        font-weight: bold;
    }
}

