@import 'src/styles/vars';

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    &-element {
        width: 100%;
        margin: $gutter / 2;

        &-title {
            font-size: $font-size * 3;
        }

        &-modal {
            display: flex;
        }

        &-add {
            width: 100px;
            height: 50px;
        }

        &-grid {

        }
    }
}
