$gutter: 1rem;
$font-size: 1em;
$color: #fefefe;

$blue:hsl(178, 100%, 37%, 1);
$yellow:hsl(36, 100%, 49%, 1);
$orange:hsl(3, 94%, 53%, 1);
$red:hsl(353, 92%, 29%, 1);
$font-color-2: blanchedalmond;
$font-color: #333;
