@import 'src/styles/vars';

.adminpermanency{
    display: flex;
    flex-direction: column;
    border: 3px solid $orange;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    align-items: center;

    &-title {
        color: $orange;
    }

    &-element {
        margin: $gutter;
    }

    &-button {
        margin-top: $gutter;
        width: 50%
    }
}



