@import 'src/styles/vars';

.présentation-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
    align-items: center;

    &-perm {
        flex:100%;
        width: 100%;
    }

    // &-permanency {
    //     width: 45%;
    // }

    &-local {
        flex:45%;
    }

    &-adresse {
        flex:45%;
    }

    &-map {
        flex:45%;
    }
}

.don {

    &-paypal {
        background-color: aqua;
    }
}

#toto {
    width: 45%;
}
