@import 'src/styles/vars';



.account{
    flex-direction: row !important;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0 20px!important;
    &-logo {
        display: none!important;
    }
    h2{
        font-size: 1rem;
        margin-right: 15px;
    }
    p{
        font-size: 1rem;
    }

}

.permanency{
    padding:0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    --clay-background: rgb(238, 72, 66);
    --clay-border-radius: 20px;
    color: blanchedalmond;


    &-title {
        border: 3px solid $font-color-2;

        h2 {
            border: 3px solid $font-color-2;
            text-shadow: rgb(0 0 0 / 30%) 5px 3px 5px;
        }
    }

    &-block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-logo {
        margin-right: 10px;
        max-width: 125px;
        filter: drop-shadow(rgb(0 0 0 / 30%) 5px 3px 5px);
    }

    &-date {
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 30%) 5px 3px 5px);
        border-radius: 10px;
        padding: 10px;
        border: 3px solid $font-color-2;
        font-size:1.5rem;

    }
}



