@import 'src/styles/vars';

.permanency{
    margin: 20px;
    display: flex;
    font-size: 1.8rem;
    text-shadow: rgb(0 0 0 / 30%) 5px 3px 5px;
    --clay-background: hsl(3, 94%, 53%, 0.9);
    --clay-border-radius: 30px;
    color: blanchedalmond;
    padding: 20px;
    flex-direction: column;
    align-items: center;

    &-title {
        margin-top: 0;
        flex: 1 0 100%;
    }

    &-inline {
        display: flex;
    }

    &-logo {
        background-image: url("../public/icones/calendrier.png");
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));
    }

    &-date {
        font-size:2.5rem;
        margin: auto;
    }
}



