@import 'src/styles/vars';

.permanency{
    font-size: 1.8rem;
    text-shadow: rgba(0, 0, 0, 0.3) 5px 3px 5px;
    /* Modify clay.css properties */
    --clay-background: hsl(3, 94%, 53%, 0.9);
    --clay-border-radius: 30px;

    /* Extended styles */
    color: blanchedalmond;
    padding: 30px;
}

.permanency p{
    font-size:2.5rem;
}

