@import 'src/styles/vars';

.adminhome {
    padding: $gutter;

    &-element {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;

        &-item {
            margin: $gutter;
        }
    }
}
