.adminUser {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dashcontainer{
    flex-grow: 2;
    display: flex;
}

.userTest {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
